<div class="course-page">

	<p class="course-meta"><strong>DHS 316 &middot; IIIT Bangalore</strong></p>
	<p class="course-description">Explores the intersections of gender and technology through feminist theory and STS frameworks, examining how technologies are designed, used, and contested across different social and cultural settings.</p>

	<div class="course-info">
		<p>A 4-credit elective course taught to B.Tech. and 5-year Integrated M.Tech. students in:</p>
		<ul>
			<li>Computer Science &amp; Engineering (CSE)</li>
			<li>Electronics &amp; Communication Engineering (ECE)</li>
		</ul>
	</div>

	<h2 class="module-heading">Module I: Understanding Gender</h2>

	<details>
		<summary>Week 1: What is Gender?</summary>
		<div class="lecture-content">
			<ul>
				<li>Film &amp; Media Studies (2020). <a href="https://www.youtube.com/watch?v=0XFg8f1STLk" target="_blank">Judith Butler's Theory of Gender Performativity, Explained</a> <span class="video-tag">[video]</span></li>
				<li>Shanspeare (2022). <a href="https://www.youtube.com/watch?v=clt3Nj6dHwk" target="_blank">Gender Performativity and the Surveillance of Womanhood</a> <span class="video-tag">[video]</span></li>
				<li>Abraham, L. (2001). <a href="https://doi.org/10.1080/00856400108723441" target="_blank">Redrawing the Lakshman Rekha: Gender Differences and Cultural Constructions in Youth Sexuality in Urban India</a>. <em>South Asia: Journal of South Asian Studies</em>, 24(sup001), 133&ndash;156.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Fausto-Sterling, A. (2000). Dueling Dualisms. In <em>Sexing the Body: Gender Politics and the Construction of Sexuality</em>.</li>
				<li>Delphy, C. (1993). <a href="https://doi.org/10.1016/0277-5395(93)90076-L" target="_blank">Rethinking Sex and Gender</a>. <em>Women's Studies International Forum</em>, 16(1), 1&ndash;9.</li>
				<li>Film &amp; Media Studies (2021). <a href="https://www.youtube.com/watch?v=5h-T2SRsCbQ" target="_blank">The Turing Test, Judith Butler's Gender Performativity, and Her (2013)</a> <span class="video-tag">[video]</span></li>
				<li>Butler, J. (1993). <em>Bodies That Matter: On the Discursive Limits of "Sex."</em> Routledge.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 2: What is Patriarchy?</summary>
		<div class="lecture-content">
			<ul>
				<li>Abhilasha Singh (2019). <a href="https://www.youtube.com/watch?v=55Xdpp4Exws" target="_blank">Kamala Bhasin on Satyamev Jayate</a> <span class="video-tag">[video]</span></li>
				<li>Brut India (2024). <a href="https://www.youtube.com/watch?v=JiaMieRh2G0" target="_blank">Nirmala Sitharaman: What's Patriarchy, Ya?</a> <span class="video-tag">[video]</span></li>
				<li>TEDx Talks (2017). <a href="https://www.youtube.com/watch?v=TXXVfGAzcYw" target="_blank">Patriarchy Dehumanises Men | Kamla Bhasin | TEDxRamanujanCollege</a> <span class="video-tag">[video]</span></li>
				<li>Feminism In India (2022). <a href="https://www.youtube.com/watch?v=EjC3kl8uNI0" target="_blank">Dr. Ambedkar and the Women's Movement in India</a> <span class="video-tag">[video]</span></li>
				<li>Bhasin, K. (1993). <em>What is Patriarchy?</em> Kali for Women.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Arya, S. (2020). Dalit or Brahmanical Patriarchy? Rethinking Indian Feminism. <em>CASTE: A Global Journal on Social Exclusion</em>, 1(1), 217&ndash;228.</li>
				<li>Chakravarti, U. (1993). Conceptualising Brahmanical Patriarchy in Early India: Gender, Caste, Class and State. <em>Economic and Political Weekly</em>, 28(14), 579&ndash;585.</li>
				<li>Chakraborty, U. (2003). <a href="https://books.google.co.in/books?hl=en&lr=&id=nLMDxv_L-U8C&oi=fnd&pg=PR7" target="_blank">Gendering Caste through a Feminist Lens</a>. Popular Prakashan.</li>
				<li>Lerner, G. (1987). <em>The Creation of Patriarchy</em> (Vol. 1). Oxford University Press.</li>
				<li>Omvedt, G. (1987). <a href="https://www.jstor.org/stable/4377665" target="_blank">The Origin of Patriarchy</a>. <em>Economic and Political Weekly</em>, 22(44).</li>
				<li>Walby, S. (1989). <a href="https://doi.org/10.1177/0003803859023002004" target="_blank">Theorising Patriarchy</a>. <em>Sociology</em>, 23(2), 213&ndash;234.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 3: Religion, Caste, Gender in India</summary>
		<div class="lecture-content">
			<ul>
				<li>Bama (2021). Two. In <em>Karukku</em> (L. Holmstrom, Trans.).</li>
				<li>Mushtaq, B. (2025). Black Cobras (D. Bhasthi, Trans.). In <em>Heart Lamp: Selected Stories</em>. Penguin Random House India.</li>
				<li>Rege, S. (1998). Dalit Women Talk Differently: A Critique of 'Difference' and Towards a Dalit Feminist Standpoint Position. <em>Economic and Political Weekly</em>, WS39&ndash;WS46.</li>
				<li>Hasan, Z. (2010). <a href="https://doi.org/10.1080/01436597.2010.502726" target="_blank">Gender, Religion and Democratic Politics in India</a>. <em>Third World Quarterly</em>, 31(6), 939&ndash;954.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Ambedkar, B. R. (1916). Castes in India: Their Mechanism, Genesis and Development. <em>Readings in Indian Government and Politics: Class, Caste, Gender</em>, 131&ndash;153.</li>
				<li>Banerjee, S. &amp; Ghosh, N. (2019). <a href="https://api.taylorfrancis.com/content/books/mono/download?identifierName=doi&identifierValue=10.4324/9780429434099&type=googlepdf" target="_blank">Caste and Gender in Contemporary India</a>. Routledge India.</li>
				<li>Dube, L. (1988). On the Construction of Gender: Hindu Girls in Patrilineal India. <em>Economic and Political Weekly</em>, WS11&ndash;WS19.</li>
				<li>Agnes, F. (1995). Hindu Men, Monogamy and Uniform Civil Code. <em>Economic and Political Weekly</em>, 3238&ndash;3244.</li>
				<li>Moghissi, H. (2011). <a href="https://doi.org/10.1215/1089201X-2010-054" target="_blank">Islamic Feminism Revisited</a>. <em>Comparative Studies of South Asia, Africa and the Middle East</em>, 31(1), 76&ndash;84.</li>
				<li>Pawar, U. &amp; Moon, M. (2014). <em>We Also Made History: Women in the Ambe</em> (W. Sonalkar, Trans.). Zubaan Books.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 4: Feminist Approaches to Gender</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2017). <a href="https://www.youtube.com/watch?v=CquRz_cceH8" target="_blank">Theories of Gender: Crash Course Sociology #33</a> <span class="video-tag">[video]</span></li>
				<li>Film &amp; Media Studies (2021). <a href="https://www.youtube.com/watch?v=zByp8lOZxZY" target="_blank">Foucault's History of Sexuality, Vol. 1, Explained</a> <span class="video-tag">[video]</span></li>
				<li>Rubin, G. (1984). Thinking Sex: Notes for a Radical Theory of the Politics of Sexuality. <em>Social Perspectives in Lesbian and Gay Studies: A Reader</em>, 100&ndash;133.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Haraway, D. (2013). <a href="https://doi.org/10.4324/9780203873106" target="_blank">"Gender" for the Marxist Dictionary: The Sexual Politics of a Word</a>. In <em>Simians, Cyborgs, and Women</em> (pp. 127&ndash;148). Routledge.</li>
				<li>Lorber, J. (2000). <a href="https://doi.org/10.1177/14647000022229074" target="_blank">Using Gender to Undo Gender: A Feminist Degendering Movement</a>. <em>Feminist Theory</em>, 1(1), 79&ndash;95.</li>
				<li>Mikkola, M. (2008). <a href="https://seop.illc.uva.nl/entries/feminism-gender/" target="_blank">Feminist Perspectives on Sex and Gender</a>. Stanford Encyclopedia of Philosophy.</li>
				<li>Tharu, S. &amp; Niranjana, T. (1994). Problems for a Contemporary Theory of Gender. <em>Social Scientist</em>, 93&ndash;117.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module II: Ways of Knowing in Science and Technology</h2>

	<details>
		<summary>Week 5: Introduction to Philosophy of Science and IT</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2016). <a href="https://www.youtube.com/watch?v=kXhJ3hHK9hQ" target="_blank">The Meaning of Knowledge: Crash Course Philosophy #7</a> <span class="video-tag">[video]</span></li>
				<li>Wireless Philosophy (2016). <a href="https://www.youtube.com/watch?v=r_Y3utIeTPg" target="_blank">Epistemology: Introduction to Theory of Knowledge</a> <span class="video-tag">[video]</span></li>
				<li>Godfrey-Smith, P. (2009). <a href="https://www.degruyter.com/document/doi/10.7208/9780226300610/html" target="_blank">Chapter 10: Naturalistic Philosophy in Theory and Practice</a>. In <em>Theory and Reality</em>. University of Chicago Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Franssen, M., Lokhorst, G.-J. &amp; van de Poel, I. (2024). <a href="https://plato.stanford.edu/archives/fall2024/entries/technology/" target="_blank">Philosophy of Technology</a>. In <em>Stanford Encyclopedia of Philosophy</em>.</li>
				<li>Godfrey-Smith, P. (2009). <a href="https://www.degruyter.com/document/doi/10.7208/9780226300610/html" target="_blank">Chapter 2: Logic Plus Empiricism</a>. In <em>Theory and Reality</em>. University of Chicago Press.</li>
				<li>Atanasoski, A. T. (2025). <a href="https://medium.com/@retroscientist/blondlots-folly-the-science-of-seeing-things-4f59eb09d674" target="_blank">Blondlot's Folly: The Science of Seeing Things</a>. <em>Medium</em>.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 6: Positivism and Hermeneutics</summary>
		<div class="lecture-content">
			<ul>
				<li>Qualitative Researcher Dr Kriukow (2019). <a href="https://www.youtube.com/watch?v=URWcOJWfSnI" target="_blank">Ontology and Epistemology, Positivism and Interpretivism</a> <span class="video-tag">[video]</span></li>
				<li>TED-Ed (2017). <a href="https://www.youtube.com/watch?v=mGYmiQkah4o" target="_blank">Mary's Room: A Philosophical Thought Experiment</a> <span class="video-tag">[video]</span></li>
				<li>Top Marx (2020). <a href="https://www.youtube.com/watch?v=ULuf3Hoad6A" target="_blank">Interpretivism: A Level Sociology Revision</a> <span class="video-tag">[video]</span></li>
				<li>Tom Nicholas (2019). <a href="https://www.youtube.com/watch?v=rkDb9Nt1EBQ" target="_blank">Structuralism and Semiotics: WTF?</a> <span class="video-tag">[video]</span></li>
				<li>Tom Nicholas (2019). <a href="https://www.youtube.com/watch?v=P2eb52fUgTk" target="_blank">Poststructuralism: WTF?</a> <span class="video-tag">[video]</span></li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Johansson, R. (2004). <a href="https://mulyanto.staff.uns.ac.id/wp-content/blogs.dir/406/files/2011/08/theory-of-science.pdf" target="_blank">Theory of Science and Research Methodology</a>. Royal Institute of Technology, Stockholm.</li>
				<li>Little, D. (1995). Objectivity, Truth and Method: A Philosopher's Perspective on the Social Sciences. <em>Anthropology Newsletter</em>, 36(8), 42&ndash;43.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 7: Feminist Approaches to Science</summary>
		<div class="lecture-content">
			<ul>
				<li>Philosopher Friends (2025). <a href="https://www.youtube.com/watch?v=bQXEK_XOf04" target="_blank">Feminist Epistemology and Philosophy of Science</a> <span class="video-tag">[video]</span></li>
				<li>Godfrey-Smith, P. (2009). <a href="https://www.degruyter.com/document/doi/10.7208/9780226300610/html" target="_blank">Chapter 9: Feminism and Science Studies</a>. In <em>Theory and Reality</em>. University of Chicago Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Rose, H. (1983). <a href="https://doi.org/10.1086/494025" target="_blank">Hand, Brain, and Heart: A Feminist Epistemology for the Natural Sciences</a>. <em>Signs</em>, 9(1), 73&ndash;90.</li>
				<li>Harding, S. (1992). Rethinking Standpoint Epistemology: What is "Strong Objectivity"? <em>The Centennial Review</em>, 36(3), 437&ndash;470.</li>
				<li>Harding, S. (1995). <a href="https://doi.org/10.1007/BF01064504" target="_blank">"Strong Objectivity": A Response to the New Objectivity Question</a>. <em>Synthese</em>, 104(3), 331&ndash;349.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module III: Refuting Technological Determinism</h2>

	<details>
		<summary>Week 8: Foundations of Anti-Technological Determinism</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2016). <a href="https://www.youtube.com/watch?v=vCGtkDzELAI" target="_blank">Determinism vs Free Will: Crash Course Philosophy #24</a> <span class="video-tag">[video]</span></li>
				<li>Martin Hilbert (2023). <a href="https://www.youtube.com/watch?v=Ogj-0nCV0L0" target="_blank">Technological Determinism vs. Social Construction of Technology</a> <span class="video-tag">[video]</span></li>
				<li>Smith, M. R. &amp; Marx, L. (1994). <a href="https://books.google.co.in/books?hl=en&lr=&id=WWztFfsA-QEC&oi=fnd&pg=PR9" target="_blank">Introduction</a>. In <em>Does Technology Drive History? The Dilemma of Technological Determinism</em>. MIT Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Wyatt, S. (2008). Technological Determinism Is Dead; Long Live Technological Determinism. In Hackett et al. (Eds.), <em>The Handbook of Science and Technology Studies</em> (3rd Ed.). MIT Press.</li>
				<li>Pinch, T. &amp; Bijker, W. E. (2012). The Social Construction of Facts and Artifacts. In <em>The Social Construction of Technological Systems</em> (Anniversary Ed.). MIT Press.</li>
				<li>Williams, R. (1994). The Political and Feminist Dimensions of Technological Determinism. In Smith &amp; Marx (Eds.), <em>Does Technology Drive History?</em> MIT Press.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 9: Materialities</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2017). <a href="https://www.youtube.com/watch?v=kGrVhM_Gi8k" target="_blank">Symbols, Values &amp; Norms: Crash Course Sociology #10</a> <span class="video-tag">[video]</span></li>
				<li>Wilson, S. S. (1973). <a href="https://doi.org/10.1038/scientificamerican0373-81" target="_blank">Bicycle Technology</a>. <em>Scientific American</em>, 228(3), 81&ndash;91.</li>
				<li>Law, J. (2023). <a href="http://w.heterogeneities.net/publications/Law2019MaterialSemiotics.pdf" target="_blank">Material Semiotics</a>. SAGE Research Methods Foundations.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Callon, M. (1984). <a href="https://doi.org/10.1111/j.1467-954X.1984.tb00113.x" target="_blank">Some Elements of a Sociology of Translation: Domestication of the Scallops and the Fishermen of St Brieuc Bay</a>. <em>The Sociological Review</em>, 32(1_suppl), 196&ndash;233.</li>
				<li>Chun, W. H. K. (2005). On Software, or the Persistence of Visual Knowledge. <em>Grey Room</em>, 26&ndash;51.</li>
				<li>Gitelman, L. (2013). Introduction. In <em>"Raw Data" Is an Oxymoron</em>. MIT Press.</li>
				<li>Starosielski, N. (2015). Introduction: Against Flow. In <em>The Undersea Network</em>. Duke University Press.</li>
				<li>Thompson, E. P. (2017). Time, Work-Discipline, and Industrial Capitalism. <em>Class: The Anthology</em>, 27&ndash;40.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 10: Gender-ing Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>College of Engineering: Oregon State University (2025). <a href="https://www.youtube.com/watch?v=lg_3Ln79hAw" target="_blank">How Changing Gender Norms Shape the Evolution of Technology</a> <span class="video-tag">[video]</span></li>
				<li>Mowshowitz, A. (1984). <a href="https://dl.acm.org/doi/abs/10.1145/800014.808144" target="_blank">Computers and the Myth of Neutrality</a>. <em>Proceedings of the ACM 12th Annual Computer Science Conference</em>, 85&ndash;92.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Gray, A. (1992). Chapter 5: Technology in the Domestic Environment. In <em>Video Playtime: The Gendering of a Leisure Technology</em>. Routledge.</li>
				<li>Craiut, M.-V. &amp; Iancu, I. R. (2022). Is Technology Gender Neutral? A Systematic Literature Review on Gender Stereotypes Attached to Artificial Intelligence. <em>Human Technology</em>, 18(3), 297&ndash;315.</li>
				<li>Gray, D. A. (1992). Introduction. In <em>Video Playtime: The Gendering of a Leisure Technology</em>. Routledge.</li>
				<li>Ames, M. G. (2019). <em>The Charisma Machine: The Life, Death, and Legacy of One Laptop per Child</em>. MIT Press.</li>
				<li>Silverstone et al. (2003). Chapter 7: The Meaning of Domestic Technologies. In <em>Consuming Technologies</em>. Routledge.</li>
				<li>Csikszentmihalyi, M. &amp; Halton, E. (1981). <em>The Meaning of Things: Domestic Symbols and the Self</em>. Cambridge University Press.</li>
				<li>Miller, D. (2001). <em>Home Possessions: Material Culture Behind Closed Doors</em>. Berg Publishers.</li>
				<li>Pink, S. (2020). <a href="https://www.taylorfrancis.com/books/mono/10.4324/9781003085614/home-truths-sarah-pink" target="_blank">Home Truths: Gender, Domestic Objects and Everyday Life</a>. Routledge.</li>
				<li>Wheelock, J. (2003). Chapter 6: Personal Computers, Gender, and an Institutional Model of the Household. In <em>Consuming Technologies</em>. Routledge.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module IV: Society and Technology</h2>

	<details>
		<summary>Week 11: Society and Culture</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2017). <a href="https://www.youtube.com/watch?v=SlkIKCMt-Fs" target="_blank">Social Stratification: Crash Course Sociology #21</a> <span class="video-tag">[video]</span></li>
				<li>CrashCourse (2017). <a href="https://www.youtube.com/watch?v=RtxtI5IGrfw" target="_blank">Why is there Social Stratification? Crash Course Sociology #22</a> <span class="video-tag">[video]</span></li>
				<li>Social Theory on Film (2025). <a href="https://www.youtube.com/watch?v=4vk9WQltZZc" target="_blank">Erving Goffman: The Presentation of Self in Everyday Life</a> <span class="video-tag">[video]</span></li>
				<li>tutor2u (2022). <a href="https://www.youtube.com/watch?v=m4abN2cfNO8" target="_blank">What are Social Institutions? Introduction to A-Level Sociology</a> <span class="video-tag">[video]</span></li>
				<li>Mills, C. W. (2000). <a href="https://books.google.co.in/books?hl=en&lr=&id=zJtpAgAAQBAJ&oi=fnd&pg=PA1" target="_blank">Chapter 1: The Promise</a>. In <em>The Sociological Imagination</em>. Oxford University Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Giddens, A. &amp; Sutton, P. W. (2021). Chapter 9: Stratification and Social Class. In <em>Sociology</em>. John Wiley &amp; Sons.</li>
				<li>Chapin, F. S. (1928). <a href="https://doi.org/10.2307/3004855" target="_blank">A New Definition of Social Institutions</a>. <em>Social Forces</em>, 6(3), 375.</li>
				<li>Williams, R. (2014). Culture. In <em>Keywords: A Vocabulary of Culture and Society</em>. Oxford University Press.</li>
				<li>Postman, N. (2011). <a href="https://books.google.co.in/books?hl=en&lr=&id=gYrIVidSiLIC&oi=fnd&pg=PT8" target="_blank">Chapter 7: The Ideology of Machines: Computer Technology</a>. In <em>Technopoly</em>. Vintage.</li>
				<li>Croissant, J. L. (1999). <a href="https://ieeexplore.ieee.org/abstract/document/787345/" target="_blank">Engendering Technology: Culture, Gender, and Work</a>. <em>ISTAS 1999 Proceedings</em>, 276&ndash;281.</li>
				<li>Gardey, D. (2006). Culture of Gender, Culture of Technology. <em>Cultures of Technology and the Quest for Innovation</em>, 73&ndash;94.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 12: Historiography of Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2012). <a href="https://www.youtube.com/watch?v=zhL5DCizj5c" target="_blank">Coal, Steam, and The Industrial Revolution: Crash Course World History #32</a> <span class="video-tag">[video]</span></li>
				<li>CrashCourse (2019). <a href="https://www.youtube.com/watch?v=zjK7PWmRRyg" target="_blank">The Industrial Revolution: Crash Course European History #24</a> <span class="video-tag">[video]</span></li>
				<li>Ensmenger, N. (2012). <a href="https://doi.org/10.1177/0306312711424596" target="_blank">Is Chess the Drosophila of Artificial Intelligence? A Social History of an Algorithm</a>. <em>Social Studies of Science</em>, 42(1), 5&ndash;30.</li>
				<li>Gitelman, L. (2006). Introduction: Media as Historical Subjects. <em>Always Already New: Media, History, and the Data of Culture</em>, 1&ndash;22.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Dranove, D. &amp; Gandal, N. (2003). <a href="https://doi.org/10.1111/j.1430-9134.2003.00363.x" target="_blank">The DVD-vs.-Divx Standard War: Empirical Evidence of Network Effects and Preannouncement Effects</a>. <em>Journal of Economics &amp; Management Strategy</em>, 12(3), 363&ndash;386.</li>
				<li>Subramanian, R. (2022). <a href="https://doi.org/10.58729/1941-6679.1498" target="_blank">Evolution and Diffusion of ICTs in the Indian Railways: A Historical Analysis</a>. <em>Journal of International Technology and Information Management</em>, 31(2), 84&ndash;109.</li>
				<li>Campbell-Kelly, M., Aspray, W., Ensmenger, N. &amp; Yost, J. R. (2016). <em>Computer: A History of the Information Machine</em> (3rd ed.). Westview Press.</li>
				<li>Sukumar, A. M. (2019). <em>Midnight's Machines: A Political History of Technology in India</em>. Penguin Random House India.</li>
				<li>Mitman, G. &amp; Fausto-Sterling, A. (1992). Whatever Happened to Planaria? <em>The Right Tools for the Job</em>, 172&ndash;197.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 13: Postcolonialism</summary>
		<div class="lecture-content">
			<ul>
				<li>Tom Nicholas (2018). <a href="https://www.youtube.com/watch?v=jbLyd0mQwIk" target="_blank">Postcolonialism: WTF? An Intro to Postcolonial Theory</a> <span class="video-tag">[video]</span></li>
				<li>Hirschkind, C. &amp; Mahmood, S. (2002). Feminism, the Taliban, and Politics of Counter-Insurgency. <em>Anthropological Quarterly</em>, 75(2), 339&ndash;354.</li>
				<li>Abraham, I. (1998). Introduction. In <em>The Making of the Indian Atomic Bomb: Science, Secrecy and the Postcolonial State</em>. Zed Books.</li>
				<li>Central College. <a href="https://central.edu/writing-anthology/2021/04/14/black-panther-whitewashing-colonialism-and-neocolonialism-ideals-in-marvels-black-panther/" target="_blank">Black Panther, Whitewashing: Colonialism and Neocolonialism Ideals in Marvel's Black Panther</a>.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>kifkif.be. <a href="https://www.kifkif.be/bijdragen/15-reasons-why-black-panther-is-a-nationalist-xenophobic-colonial-and-racist-movie" target="_blank">15 Reasons why Black Panther is a Nationalist, Xenophobic, Colonial and Racist Movie</a>.</li>
				<li>Barry, P. (2017). <em>Beginning Theory: An Introduction to Literary and Cultural Theory</em>. Manchester University Press.</li>
				<li>Nanda, M. (2025). <a href="https://caravanmagazine.in/history/postcolonial-left-hindu-right" target="_blank">Where the Postcolonial Left Meets the Hindu Right</a>. <em>The Caravan</em>.</li>
				<li>Philip, K., Irani, L. &amp; Dourish, P. (2012). <a href="https://doi.org/10.1177/0162243910389594" target="_blank">Postcolonial Computing: A Tactical Survey</a>. <em>Science, Technology, &amp; Human Values</em>, 37(1), 3&ndash;29.</li>
				<li>Pollock, A. &amp; Subramaniam, B. (2016). <a href="https://doi.org/10.1177/0162243916657879" target="_blank">Resisting Power, Retooling Justice: Promises of Feminist Postcolonial Technosciences</a>. <em>Science, Technology, &amp; Human Values</em>, 41(6), 951&ndash;966.</li>
				<li>Subramaniam, B. et al. (2017). Feminism, Postcolonialism, Technoscience. In <em>The Handbook of Science and Technology Studies</em> (4th ed.). MIT Press.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 14: Globalization</summary>
		<div class="lecture-content">
			<ul>
				<li>CrashCourse (2012). <a href="https://www.youtube.com/watch?v=5SnR-e0S6Ic" target="_blank">Globalization I: The Upside: Crash Course World History #41</a> <span class="video-tag">[video]</span></li>
				<li>CrashCourse (2012). <a href="https://www.youtube.com/watch?v=s_iwrt7D5OA" target="_blank">Globalization II: Good or Bad?: Crash Course World History #42</a> <span class="video-tag">[video]</span></li>
				<li>Fejerskov, A. M. (2017). <a href="https://doi.org/10.1177/0162243917709934" target="_blank">The New Technopolitics of Development and the Global South as a Laboratory of Technological Experimentation</a>. <em>Science, Technology, &amp; Human Values</em>, 42(5), 947&ndash;968.</li>
				<li>Oza, R. (2001). <a href="https://doi.org/10.1086/495648" target="_blank">Showcasing India: Gender, Geography, and Globalization</a>. <em>Signs</em>, 26(4), 1067&ndash;1095.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Connell, R. (2011). Chapter 1: Change among the Gatekeepers: Men, Masculinities and Gender Equality. In <em>Confronting Equality</em>. Allen &amp; Unwin.</li>
				<li>Channa, S. M. (2004). Globalization and Modernity in India: A Gendered Critique. <em>Urban Anthropology and Studies of Cultural Systems and World Economic Development</em>, 37&ndash;71.</li>
				<li>Connell, R. (2011). Chapter 9: Antonio Negri's Theory of Empire. In <em>Confronting Equality</em>. Allen &amp; Unwin.</li>
				<li>Lee, K.-F. (2018). Introduction. In <em>AI Superpowers: China, Silicon Valley, and the New World Order</em>. Houghton Mifflin Harcourt.</li>
				<li>Ritzer, G. (2003). The Globalization of Nothing. <em>SAIS Review</em>, 23(2), 189&ndash;200.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 15: War, Disaster, Risk, Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>AJ+ (2025). <a href="https://www.youtube.com/watch?v=lDB3L23UMCQ" target="_blank">How 5 Companies Are Keeping The World At War</a> <span class="video-tag">[video]</span></li>
				<li>Al Jazeera English (2021). <a href="https://www.youtube.com/watch?v=lfOgm1IcBd0" target="_blank">How Israeli Technology Became One of the World's Most Feared Spyware</a> <span class="video-tag">[video]</span></li>
				<li>The Chris Hedges YouTube Channel (2025). <a href="https://www.youtube.com/watch?v=L1US6sxgKrc" target="_blank">The Secret Military History of the Internet</a> <span class="video-tag">[video]</span></li>
				<li>Edgerton, D. (2007). Chapter 6: War. In <em>The Shock of the Old: Technology and Global History since 1900</em>. Oxford University Press.</li>
				<li>Oza, R. (2006). Chapter 5: Nuclear Tests and National Virility: Gender and Sexual Politics of Militarization. In <em>The Making of Neoliberal India</em>. Taylor &amp; Francis.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Abbate, J. (2010). Cold War and White Heat: The Origins and Meanings of Packet Switching. In MacKenzie &amp; Wajcman (Eds.), <em>The Social Shaping of Technology</em> (2nd ed.). Open University Press.</li>
				<li>Bassett, R. (2009). Aligning India in the Cold War Era: Indian Technical Elites, the IIT Kanpur, and Computing in India and the United States. <em>Technology and Culture</em>, 50(4), 783&ndash;810.</li>
				<li>Knowles, S. G. (2014). Learning from Disaster? The History of Technology and the Future of Disaster Research. <em>Technology and Culture</em>, 55(4), 773&ndash;784.</li>
				<li>Cockburn, C. (2004). The Continuum of Violence: A Gender Perspective on War and Peace. In Giles &amp; Hyndman (Eds.), <em>Sites of Violence: Gender and Conflict Zones</em>. University of California Press.</li>
				<li>Manjikian, M. (2014). <a href="https://doi.org/10.1080/14616742.2012.746429" target="_blank">Becoming Unmanned: The Gendering of Lethal Autonomous Warfare Technology</a>. <em>International Feminist Journal of Politics</em>, 16(1), 48&ndash;65.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 16: Labor, Work, Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>Economy Media (2025). <a href="https://www.youtube.com/watch?v=rMNUKPxMi_w" target="_blank">The Invisible Workers Behind AI</a> <span class="video-tag">[video]</span></li>
				<li>MIT OpenCourseWare (2023). <a href="https://www.youtube.com/watch?v=Liy6fEbv8OU" target="_blank">Lecture 15: Gender and the Labor Market</a> <span class="video-tag">[video]</span></li>
				<li>Mehrotra, K. (2022). <a href="https://fiftytwo.in/story/human-touch/" target="_blank">Human Touch</a>. <em>Fifty Two</em>.</li>
				<li>Kalia, S. (2025). <a href="https://behanbox.com/2025/10/10/living-in-a-ghost-world-these-data-workers-make-the-internet-possible/" target="_blank">Living in a Ghost World, These Data Workers Make the Internet Possible</a>. <em>BehanBox</em>.</li>
				<li>Dutta, M. (2021). Factory Girls: Life and Work in a Tamil Nadu Electronics Company. In John &amp; Gopal (Eds.), <em>Women in the Worlds of Labour</em>. Orient BlackSwan.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Orr, J. E. (1996). Introduction. In <em>Talking about Machines: An Ethnography of a Modern Job</em>. Cornell University Press.</li>
				<li>Rosenblat, A. &amp; Stark, L. (2016). Algorithmic Labor and Information Asymmetries: A Case Study of Uber's Drivers. <em>International Journal of Communication</em>, 10.</li>
				<li>Costagliola, A. (2021). <a href="https://doi.org/10.1007/s41027-021-00329-7" target="_blank">Labor Participation and Gender Inequalities in India</a>. <em>The Indian Journal of Labour Economics</em>, 64(3), 531&ndash;542.</li>
				<li>Darokar, S. (2021). Dalit Women, Dehumanised Labour and Struggles for Dignity. In John &amp; Gopal (Eds.), <em>Women in the Worlds of Labour</em>. Orient BlackSwan.</li>
				<li>Gupta, N. (2015). <a href="https://doi.org/10.1177/0950017014556410" target="_blank">Rethinking the Relationship between Gender and Technology: A Study of the Indian Example</a>. <em>Work, Employment and Society</em>, 29(4), 661&ndash;672.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module V: Feminist Preoccupations with Technology</h2>

	<details>
		<summary>Week 17: Women, Work, Family, Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>MIT OpenCourseWare (2023). <a href="https://www.youtube.com/watch?v=Liy6fEbv8OU" target="_blank">Lecture 15: Gender and the Labor Market</a> <span class="video-tag">[video]</span></li>
				<li>Cowan, R. S. (2023). Chapter 1: An Introduction: Housework and Its Tools. In <em>More Work for Mother</em>. Plunkett Lake Press.</li>
				<li>Bhallamudi, I. (2022). <a href="https://doi.org/10.1080/1369118X.2022.2056499" target="_blank">Daughters, Devices and Doorkeeping: How Gender and Class Shape Adolescent Mobile Phone Access in Mumbai, India</a>. <em>Information, Communication &amp; Society</em>, 25(6), 851&ndash;867.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Cowan, R. S. (2010). The Industrial Revolution in the Home. In MacKenzie &amp; Wajcman (Eds.), <em>The Social Shaping of Technology</em> (2nd ed., pp. 181&ndash;201). Open University Press.</li>
				<li>Datta, A., Endow, T. &amp; Mehta, B. S. (2020). <a href="https://doi.org/10.1007/s41027-020-00219-4" target="_blank">Education, Caste and Women's Work in India</a>. <em>The Indian Journal of Labour Economics</em>, 63(2), 387&ndash;406.</li>
				<li>Dhanaraj, S. &amp; Mahambare, V. (2019). Family Structure, Education and Women's Employment in Rural India. <em>World Development</em>, 115, 17&ndash;29.</li>
				<li>Dutta, M. (2021). Factory Girls. In John &amp; Gopal (Eds.), <em>Women in the Worlds of Labour</em>. Orient BlackSwan.</li>
				<li>Sabharwal, N. S. &amp; Sonalkar, W. (2015). <a href="https://www.theglobaljusticenetwork.org/index.php/gjn/article/view/54" target="_blank">Dalit Women in India: At the Crossroads of Gender, Class, and Caste</a>. <em>Global Justice: Theory Practice Rhetoric</em>, 8(1).</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 18: The Body</summary>
		<div class="lecture-content">
			<ul>
				<li>Hariharan, G. (2003). <a href="https://samyuktajournal.in/the-remains-of-the-feast/" target="_blank">The Remains of the Feast</a>. <em>Samyukta: A Journal of Gender and Culture</em>.</li>
				<li>TEDx Talks (2014). <a href="https://www.youtube.com/watch?v=NY8RLLbD_8g" target="_blank">You Throw like a Girl! Telling Stories about Women in Sport</a> <span class="video-tag">[video]</span></li>
				<li>Young, I. M. (1980). <a href="https://doi.org/10.1007/BF02331805" target="_blank">Throwing like a Girl: A Phenomenology of Feminine Body Comportment Motility and Spatiality</a>. <em>Human Studies</em>, 3(1), 137&ndash;156.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Lennon, K. &amp; Fischer, C. (2024). <a href="https://plato.stanford.edu/archives/sum2024/entries/feminist-body/" target="_blank">Feminist Perspectives on the Body</a>. In <em>Stanford Encyclopedia of Philosophy</em>.</li>
				<li>Tharu, S. (1996). The Impossible Subject: Caste and the Gendered Body. <em>Economic and Political Weekly</em>, 1311&ndash;1315.</li>
				<li>Waldby, C. &amp; Cooper, M. (2013). From Reproductive Work to Regenerative Labor: The Female Body and the Stem Cell Industries. In Wyer et al. (Eds.), <em>Women, Science, and Technology: A Reader in Feminist Science Studies</em>. Routledge.</li>
				<li>Wissinger, E. (2017). <a href="https://doi.org/10.1111/soc4.12514" target="_blank">Wearable Tech, Bodies, and Gender</a>. <em>Sociology Compass</em>, 11(11), e12514.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 19: Health and Medical Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>Perez, C. C. (2019). Part 4: Going to the Doctor. In <em>Invisible Women: Data Bias in a World Designed for Men</em>. Abrams Press.</li>
				<li>Bluhm, R. (2026). <a href="https://library.oapen.org/bitstream/handle/20.500.12657/111803/9781040504499.pdf?sequence=1#page=476" target="_blank">"Every Cell Has a Sex": Sex Essentialism in Biomedical Research</a>. In <em>The Routledge Handbook of Values and Science</em> (pp. 457&ndash;466). Routledge.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Figueroa, C. A. et al. (2021). The Need for Feminist Intersectionality in Digital Health. <em>The Lancet Digital Health</em>, 3(8), e526&ndash;e533.</li>
				<li>Iyer, A., Sen, G. &amp; George, A. (2007). <a href="https://doi.org/10.2190/1146-7828-5L5H-7757" target="_blank">The Dynamics of Gender and Class in Access to Health Care: Evidence from Rural Karnataka, India</a>. <em>International Journal of Health Services</em>, 37(3), 537&ndash;554.</li>
				<li>Ahmed, S. M. et al. (2005). Socioeconomic Status Overrides Age and Gender in Determining Health-Seeking Behaviour in Rural Bangladesh. <em>Bulletin of the World Health Organization</em>, 83, 109&ndash;117.</li>
				<li>Pandya, A. K. &amp; Redcay, A. (2021). <a href="https://doi.org/10.1080/19359705.2020.1850592" target="_blank">Access to Health Services: Barriers Faced by the Transgender Population in India</a>. <em>Journal of Gay &amp; Lesbian Mental Health</em>, 25(2), 132&ndash;154.</li>
				<li>Rieker, P. P. &amp; Bird, C. E. (2005). Rethinking Gender Differences in Health: Why We Need to Integrate Social and Biological Perspectives. <em>The Journals of Gerontology Series B</em>, 60(Special_Issue_2), S40&ndash;S47.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 20: Media Representation and Identity</summary>
		<div class="lecture-content">
			<ul>
				<li>Tom Nicholas (2017). <a href="https://www.youtube.com/watch?v=0JtJu9HdQVM" target="_blank">Semiotics: WTF? Introduction to Saussure, the Signifier and Signified</a> <span class="video-tag">[video]</span></li>
				<li>Art for Democracy (2012). <a href="https://www.youtube.com/watch?v=Rt1Rhd_sRhg" target="_blank">No Country for Women</a> <span class="video-tag">[video]</span></li>
				<li>Everything has its first time (2018). <a href="https://www.youtube.com/watch?v=JzVA2jKY_b8" target="_blank">John Berger "Subliminal Advertising" Ways of Seeing, Episode 4 (1972)</a> <span class="video-tag">[video]</span></li>
				<li>newslaundry (2022). <a href="https://www.youtube.com/watch?v=8-dy5cKlZCY" target="_blank">How are Women Represented in and by Indian Media?</a> <span class="video-tag">[video]</span></li>
				<li>Tolentino, J. (2019). <a href="https://www.newyorker.com/culture/decade-in-review/the-age-of-instagram-face" target="_blank">The Age of Instagram Face</a>. <em>The New Yorker</em>.</li>
				<li>Hall, S. (2020). <a href="https://api.taylorfrancis.com/content/chapters/edit/download?identifierName=doi&identifierValue=10.4324/9780429355363-15&type=chapterpdf" target="_blank">The Work of Representation</a>. In <em>The Applied Theatre Reader</em> (pp. 74&ndash;76). Routledge.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Correa, D. M. (2011). <a href="https://acuresearchbank.acu.edu.au/item/8qy3z/the-construction-of-gender-identity-in-india-through-television-advertisements-a-semiotic-analysis" target="_blank">The Construction of Gender Identity in India through Television Advertisements: A Semiotic Analysis</a> [PhD Thesis, Australian Catholic University].</li>
				<li>Majumdar, S. et al. (2022). "You Don't Know Me so Don't Try to Judge Me": Gender and Identity Performance on Social Media Among Young Indian Users. <em>Frontiers in Psychology</em>, 13, 855947.</li>
				<li>Duffy, B. E. &amp; Hund, E. (2019). <a href="https://doi.org/10.32376/3f8575cb.3f03db0e" target="_blank">Gendered Visibility on Social Media: Navigating Instagram's Authenticity Bind</a>. In <em>Social Media &amp; the Self: An Open Reader</em>. mediastudies.press.</li>
				<li>Guest, C. (2025). <a href="https://finalgirldigital.substack.com/p/digital-girls-and-the-taxidermy-of" target="_blank">Digital Girls &amp; the Taxidermy of the Female Image</a>. <em>Final Girl Digital</em>.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module VI: Doing Technology</h2>

	<details>
		<summary>Week 21: The Masculine World of Computing</summary>
		<div class="lecture-content">
			<ul>
				<li>Confreaks (2018). <a href="https://www.youtube.com/watch?v=DPLrJtighWU" target="_blank">RubyConf 2018: Unraveling the Masculinization of Technology by Audrey Eschright</a> <span class="video-tag">[video]</span></li>
				<li>Ensmenger, N. (2010). <a href="https://doi.org/10.1002/9780470619926.ch6" target="_blank">Making Programming Masculine</a>. In Misa (Ed.), <em>Gender Codes</em> (pp. 115&ndash;141). John Wiley &amp; Sons.</li>
				<li>Daub, A. (2020). Introduction. In <em>What Tech Calls Thinking: An Inquiry into the Intellectual Bedrock of Silicon Valley</em>. Farrar, Straus and Giroux.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Ensmenger, N. (2010). Introduction: Computer Revolutionaries. In <em>The Computer Boys Take Over</em>. MIT Press.</li>
				<li>Lie, M. (1995). <a href="https://doi.org/10.1177/135050689500200306" target="_blank">Technology and Masculinity: The Case of the Computer</a>. <em>European Journal of Women's Studies</em>, 2(3), 379&ndash;394.</li>
				<li>Misu, N. A. (2001). The Cultural Construction of the Computer as a Masculine Technology: An Analysis of Computer Advertisements in Korea. <em>Asian Journal of Women's Studies</em>, 7(3), 93&ndash;114.</li>
				<li>Turkle, S. (2005). Chapter 6: Hackers: Loving the Machine for Itself. In <em>The Second Self: Computers and the Human Spirit</em> (20th Anniv. Ed.). MIT Press.</li>
				<li>Na, M. (2001). <a href="https://doi.org/10.1080/14680770120088909" target="_blank">The Home Computer in Korea: Gender, Technology, and the Family</a>. <em>Feminist Media Studies</em>, 1(3), 291&ndash;306.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 22: Sexism by Design</summary>
		<div class="lecture-content">
			<ul>
				<li>PBS NewsHour (2025). <a href="https://www.youtube.com/watch?v=0Iqjc5NXAvI" target="_blank">"The New Age of Sexism" Explores How Misogyny is Replicated in AI and Emerging Tech</a> <span class="video-tag">[video]</span></li>
				<li>Perez, C. C. (2019). Chapter 1: Can Snow-Clearing be Sexist? In <em>Invisible Women: Data Bias in a World Designed for Men</em>. Abrams Press.</li>
				<li>Perez, C. C. (2019). Part 3: Design. In <em>Invisible Women: Data Bias in a World Designed for Men</em>. Abrams Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Hicks, M. (2021). Chapter 6: Sexism Is a Feature, Not a Bug. In Mullaney et al. (Eds.), <em>Your Computer Is on Fire</em>. MIT Press.</li>
				<li>Carrigan, C. (2024). <a href="https://mitpress.mit.edu/9780262547055/cracking-the-bro-code/" target="_blank">Chapter 1: Gendered Labor in Computing</a>. In <em>Cracking the Bro Code</em>. MIT Press.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 23: Caste-ing Technology</summary>
		<div class="lecture-content">
			<ul>
				<li>NOVA PBS Official (2021). <a href="https://www.youtube.com/watch?v=9K9ZR_lGRpY" target="_blank">Search Engine Breakdown: Are Algorithms Racist and Sexist?</a> <span class="video-tag">[video]</span></li>
				<li>Christopher, N. (2025). <a href="https://www.technologyreview.com/2025/10/01/1124621/openai-india-caste-bias/" target="_blank">OpenAI is Huge in India. Its Models are Steeped in Caste Bias</a>. <em>MIT Technology Review</em>.</li>
				<li>Vijayaraghavan, P. et al. (2025). <a href="https://doi.org/10.48550/arXiv.2505.14971" target="_blank">DECASTE: Unveiling Caste Stereotypes in Large Language Models through Multi-Dimensional Bias Analysis</a>. arXiv.</li>
				<li>Vaghela, P., Jackson, S. J. &amp; Sengers, P. (2022). <a href="https://doi.org/10.1145/3491102.3502059" target="_blank">Interrupting Merit, Subverting Legibility: Navigating Caste in 'Casteless' Worlds of Computing</a>. <em>CHI 2022</em>, 1&ndash;20.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Devadas, M. (2025). <a href="https://doi.org/10.5525/gla.thesis.85202" target="_blank">Caste and Digital: A Study on the Reproduction of Educational Inequalities in the Era of Technology Enabled Learning in Kerala, India</a> [PhD, University of Glasgow].</li>
				<li>Radhakrishnan, S. (2009). Examining the "Global" Indian Middle Class: Gender and Culture in the Silicon Valley/Bangalore Circuit. In <em>Transnational Migrations</em>. Routledge India.</li>
				<li>Subramanian, A. (2015). <a href="https://doi.org/10.1017/S0010417515000043" target="_blank">Making Merit: The Indian Institutes of Technology and the Social Life of Caste</a>. <em>Comparative Studies in Society and History</em>, 57(2), 291&ndash;322.</li>
				<li>Upadhyay, C. (2020). <a href="https://doi.org/10.4324/9780367817961" target="_blank">Software and the 'New' Middle Class in the 'New India'</a>. In <em>Elite and Everyman: The Cultural Politics of the Indian Middle Classes</em>. Routledge India.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 24: Women and Engineering</summary>
		<div class="lecture-content">
			<ul>
				<li>As/Is (2019). <a href="https://www.youtube.com/watch?v=WBdNfOJ5vMY" target="_blank">Female Engineers Share Experiences in a Male-Dominated Field</a> <span class="video-tag">[video]</span></li>
				<li>WIRED (2017). <a href="https://www.youtube.com/watch?v=QyDbRaaXEvc" target="_blank">Women Engineers On the Rampant Sexism of Silicon Valley</a> <span class="video-tag">[video]</span></li>
				<li>Hicks, M., Misa, T. &amp; Aspray, W. (2017). Introduction. In <em>Programmed Inequality: How Britain Discarded Women Technologists and Lost Its Edge in Computing</em>. MIT Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Nakamura, L. (2014). <a href="https://doi.org/10.1353/aq.2014.0070" target="_blank">Indigenous Circuits: Navajo Women and the Racialization of Early Electronic Manufacture</a>. <em>American Quarterly</em>, 66(4), 919&ndash;941.</li>
				<li>Peiris, D. R. et al. (2000). <a href="https://doi.org/10.1007/978-0-387-35509-2_3" target="_blank">Women and Computing: Breaking the Cycle of Imbalance at the Interface</a>. In <em>Women, Work and Computerization</em> (pp. 17&ndash;25). Springer US.</li>
				<li>Thakkar, D. et al. (2018). <a href="https://doi.org/10.1145/3173574.3173926" target="_blank">The Unexpected Entry and Exodus of Women in Computing and HCI in India</a>. <em>CHI 2018</em>, 1&ndash;12.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 25: Surrogate Humanity: Robots and AI</summary>
		<div class="lecture-content">
			<ul>
				<li>Oxford Internet Institute (2018). <a href="https://www.youtube.com/watch?v=RH_7zTDCwpw" target="_blank">Does AI Have Gender?</a> <span class="video-tag">[video]</span></li>
				<li>TED (2023). <a href="https://www.youtube.com/watch?v=eXdVDhOGqoE" target="_blank">AI Is Dangerous, but Not for the Reasons You Think | Sasha Luccioni</a> <span class="video-tag">[video]</span></li>
				<li>Buolamwini, J. (2018). <a href="https://www.nytimes.com/2018/06/21/opinion/facial-analysis-technology-bias.html" target="_blank">When the Robot Doesn't See Dark Skin</a>. <em>The New York Times</em>.</li>
				<li>Broussard, M. (2018). Chapter 8: This Car Won't Drive Itself. In <em>Artificial Unintelligence: How Computers Misunderstand the World</em>. MIT Press.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Atanasoski, N. &amp; Vora, K. (2019). <em>Surrogate Humanity: Race, Robots, and the Politics of Technological Futures</em>. Duke University Press.</li>
				<li>Noble, S. U. (2021). Chapter 9: Your Robot Isn't Neutral. In Mullaney et al. (Eds.), <em>Your Computer Is on Fire</em>. MIT Press.</li>
			</ul>
		</div>
	</details>

	<h2 class="module-heading">Module VII: Politics of Gender and Technology</h2>

	<details>
		<summary>Week 26: Gender and Nation Building</summary>
		<div class="lecture-content">
			<ul>
				<li>Chadha, G. (2018). Nature, Nation, Science and Gender. <em>Sociological Bulletin</em>, 67(3), 334&ndash;347.</li>
				<li>Oza, R. (2006). Chapter 2: The New Liberal Indian Woman and Globalization. In <em>The Making of Neoliberal India: Nationalism, Gender, and the Paradoxes of Globalization</em>. Taylor &amp; Francis.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 27: Democracy, Technology, Media</summary>
		<div class="lecture-content">
			<ul>
				<li>Al Jazeera English (2021). <a href="https://www.youtube.com/watch?v=lfOgm1IcBd0" target="_blank">How Israeli Technology Became One of the World's Most Feared Spyware</a> <span class="video-tag">[video]</span></li>
				<li>Al Jazeera English (2024). <a href="https://www.youtube.com/watch?v=QDqIf_QcEgg" target="_blank">Is the Growing Power of Big Tech a Threat to Democracy? Maria Ressa and Yanis Varoufakis</a> <span class="video-tag">[video]</span></li>
				<li>Philosophy Tube (2024). <a href="https://www.youtube.com/watch?v=4F9QzXjUB10" target="_blank">Social Media Vs Democracy</a> <span class="video-tag">[video]</span></li>
				<li>Maheshwari, S. (2016). <a href="https://www.nytimes.com/2016/11/20/business/media/how-fake-news-spreads.html" target="_blank">How Fake News Goes Viral: A Case Study</a>. <em>The New York Times</em>.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Elovaara, P. &amp; M&ouml;rtberg, C. (2007). <a href="https://doi.org/10.1080/13691180701410091" target="_blank">Design of Digital Democracies: Performances of Citizenship, Gender and IT</a>. <em>Information, Communication &amp; Society</em>, 10(3), 404&ndash;423.</li>
				<li>Hasan, Z. (2010). <a href="https://doi.org/10.1080/01436597.2010.502726" target="_blank">Gender, Religion and Democratic Politics in India</a>. <em>Third World Quarterly</em>, 31(6), 939&ndash;954.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 28: Gender and Governance</summary>
		<div class="lecture-content">
			<ul>
				<li>Basu, A. (2003). Gender and Governance: Concepts and Contexts. In Nussbaum, Basu &amp; Tambiah (Eds.), <em>Essays on Gender and Governance</em>.</li>
				<li>Morozov, E. (2013). Chapter 1: Solutionism and Its Discontents. In <em>To Save Everything, Click Here: The Folly of Technological Solutionism</em>. PublicAffairs.</li>
				<li>Menon, N. (2009). Sexuality, Caste, Governmentality: Contests over 'Gender' in India. <em>Feminist Review</em>, 91(1), 94&ndash;112.</li>
			</ul>
		</div>
	</details>

	<details>
		<summary>Week 29: Gender and ICTs</summary>
		<div class="lecture-content">
			<ul>
				<li>Odame, H. H. (2005). Gender and ICTs for Development: Setting the Context. <em>Gender and ICTs for Development: A Global Sourcebook</em>, 13&ndash;24.</li>
				<li>Gurumurthy, A. et al. (2014). Digital Technologies and Gender Justice in India. IT for Change.</li>
			</ul>
			<hr class="reading-divider">
			<ul>
				<li>Aapti Institute (2025). <a href="https://inclusion.aapti.in/research/building-gender-inclusive-digital-identity-systems/" target="_blank">Building Gender Inclusive Digital Identity Systems: Learnings from a Multi-Country Study</a>.</li>
				<li>Phalkey, J. &amp; Chattapadhyay, S. (2015). <a href="https://doi.org/10.1080/07341512.2015.1136142" target="_blank">The Aakash Tablet and Technological Imaginaries of Mass Education in Contemporary India</a>. <em>History and Technology</em>, 31(4), 452&ndash;481.</li>
			</ul>
		</div>
	</details>

</div>
