<div class="column logo-wrapper">
	<img class="logo" src="{{site.logo | relative_url}}" />
</div>
	<p>Hi, I am Chinar. I am a Fulbright Fellow at Carnegie Mellon University and a Ph.D. scholar at the Department of Communication at the University of Hyderabad. I am interested in interdisciplinary research about technology - its cultures, and histories. As a media researcher, I am largely interested in the web as a communication channel.</p>
	<p>My doctoral research is about how knowledge-in-practice is inscribed on web interfaces - for which I draw theory from Science &amp; Technology Studies, Feminist Cultural Studies of Science, and New Media Studies. In other words, I follow web developers &amp; managers around and ask them to explain what they do (and how they do it) in great detail.</p>
	<p>I was also part of <a href="https://femlab.co/" target="_blank">FemLab.co</a>, a research project that aims to understand the communicative practices of women workers in India and Bangladesh so that digital tools can be leveraged for their collectivization.</p>
	<p>I was also part of FemLab.co, a research project that aims to understand the communicative practices of women workers in India and Bangladesh so that digital tools can be leveraged for their collectivization.</p>
	<p>I channel my energies into creative ways to get research to a broader audience - through media productions like documentary films, podcasts, radio, and others. You can reach me at <a href="mailto:chinar.dac@gmail.com" target="_blank">chinar [dot] dac [at] gmail [dot] com</a>.</p>
<div class="social-media">
		<div class="linkedin-icon sm-icon">
			<a href="https://www.linkedin.com/in/chinar-mehta/" target="_blank" class="fa fa-linkedin"></a>
		</div>
		<div class="twitter-icon sm-icon">
			<a href="https://twitter.com/_chinar_" target="_blank" class="fa fa-twitter"></a>
		</div>
		<div class="facebook-icon sm-icon">
			<a href="https://www.facebook.com/chinar.mehta/" target="_blank" class="fa fa-facebook"></a>
		</div>
		<div class="instagram-icon sm-icon">
			<a href="https://www.instagram.com/china.mina.dika/" target="_blank" class="fa fa-instagram"></a>
		</div>
</div>