<div class="homepage">
<!--<div class="column logo-wrapper">
	<img class="logo" src="{{site.logo | relative_url}}" />
</div>-->
	<div class="introduction-wrapper">
		<div class="photo-wrapper">
			<img class="photo" src="assets/ChinarThrissur.jpg" alt="">
			<div class="social-media">
<!-- 				<a title="LinkedIn" href="https://www.linkedin.com/in/chinar-mehta/" target="_blank" class="ss-icon fa fa-linkedin"></a>
 -->				<!-- <a href="https://twitter.com/_chinar_" target="_blank" class="round-icon fa fa-twitter"></a>
				<a href="https://www.facebook.com/chinar.mehta/" target="_blank" class="round-icon fa fa-facebook"></a>
				<a href="https://www.instagram.com/china.mina.dika/" target="_blank" class="round-icon fa fa-instagram"></a> -->
<!-- 				<a title="Academia.edu" href="https://uohyd.academia.edu/ChinarMehta" target="_blank" class="ss-icon academia-profile">Academia.edu</a>
 -->
			</div>
		</div>
		
		<div class="description-wrapper">
			<div class="description">
				<p>Hi, I am Chinar. I am an engineer turned communications researcher interested in all things technology - but particularly, its cultures, histories, and ways of being in society.</p>
				<h4><b>Currently, I am an <a title="IIIT-B" href="https://www.iiitb.ac.in/faculty/chinar-mehta" target="_blank">Assistant Professor</a> at the <a href="https://dhss.iiitb.ac.in/">Department of Digital Humanities and Societal Systems</a> at International Institute of Information Technology, Bangalore.</b></h4>
				<p>I channel my energies towards simplifying complicated research in science, tech, and the social sciences for a different kinds of audiences.</p> 
				<p>Email me at <a title="Email chinar.mehta93@gmail.com" href="mailto:chinar.mehta93@gmail.com" target="_blank">chinar [dot] mehta93 [at] gmail [dot] com</a>.</p>
				<!-- <div class="desc-title"><i class="desc-icon fa fa-solid fa-arrow-right"></i><div><h3>PhD-ing in Communication, University of Hyderabad</h3><h4>Advisor: Prof Usha Raman</h4></div></div>
				<p>My doctoral research is about how knowledge-in-practice is inscribed on web interfaces - for which I draw theory from Science &amp; Technology Studies, Feminist Cultural Studies of Science, and New Media Studies. In other words, I follow web developers &amp; managers around and ask them to explain what they do (and how they do it) in great detail.</p>
				<div class="desc-title"><i class="desc-icon fa fa-solid fa-arrow-right"></i><h3>Fulbright Fellow, Human-Computer Interaction Institute, Carnegie Mellon University, US</h3></div>
				<p>Previously, I worked with Dr Sarah Fox for 9 months on the project Future of Transit Work that examines how transit work will transform as autonomous vehicle (AV) technology is applied to the complex operating environment of public transit.</p>
				<div class="desc-title"><i class="desc-icon fa fa-solid fa-arrow-right"></i><div><h3>Research Lead, Sanitation Sector, FemLabCo</h3><h4>Principal Investigators: Prof Usha Raman, Prof Payal Arora</h4></div></div>
				<p>I was also part of <a href="https://femlab.co/" target="_blank">FemLab.co</a>, a research project that aims to understand the communicative practices of women workers in India and Bangladesh so that digital tools can be leveraged for their collectivization.</p> -->
			</div>
		</div>
	</div>
  </div>
</br></br></br>
	<div class="recent-section">
		<h2>Recent</h2>
		<ul>
			<li>
				<p>Sub-theme coordinator, "Interrogating Digital Selves and Subjectivities," Indian Association of Women's Studies Conference, January 2027, Christ University, Bengaluru <em>(upcoming)</em>.</p>
			</li>
			<li>
				<p>Coordinator, Digital STS Reading Group and Feminist STS Reading Group, STS India Network <em>(present)</em>. <a href="https://forms.gle/4uBSox75qqMpcBmu8" target="_blank">Register here.</a></p>
			</li>
			<li>
				<p>The Question That Was Not Part of the Job. <em>Teacher Plus</em>, May 2026. <a href="https://teacherplus.org/2026/2026/may-2026/the-question-that-was-not-part-of-the-job/" target="_blank">Read.</a></p>
			</li>
			<li>
				<p>The Subtle Stream of Teaching: How Educators Shape Lifelong Learners. <em>Higher Education Plus</em>, September 8, 2025. <a href="https://highereducationplus.com/the-subtle-stream-of-teaching-how-educators-shape-lifelong-learners/" target="_blank">Read.</a></p>
			</li>
		</ul>
	</div>

</div>