<div class="column logo-wrapper">
	<img class="logo" src="{{site.logo | relative_url}}" />
</div>
	<p>{{ site.description | default: site.github.project_tagline }}</p>
	<p>{{ site.description1 | default: site.github.project_tagline }}</p>
	<p>{{ site.description2 | default: site.github.project_tagline }}</p>
	<p>{{ site.description3 | default: site.github.project_tagline }}</p>
<div class="social-media">
		<div class="linkedin-icon sm-icon">
			<a href="https://www.linkedin.com/in/chinar-mehta/" target="_blank" class="fa fa-linkedin"></a>
		</div>
		<div class="twitter-icon sm-icon">
			<a href="https://twitter.com/_chinar_" target="_blank" class="fa fa-twitter"></a>
		</div>
		<div class="facebook-icon sm-icon">
			<a href="https://www.facebook.com/chinar.mehta/" target="_blank" class="fa fa-facebook"></a>
		</div>
		<div class="instagram-icon sm-icon">
			<a href="https://www.instagram.com/china.mina.dika/" target="_blank" class="fa fa-instagram"></a>
		</div>
</div>