<div class="homepage">
	<h1 class="research-title">Research</h1>
	<div class="box-wrapper">
		<a href="https://www.digital-futures-for-children.net/RightsAI" target="_blank">
			<div class="box-styled">
				<h3>Digital Futures for Children</h3>
				<p>This project explores children's interactions with GenAI, focusing on their expectations, fears, hopes, and imaginations while assessing the impact on their rights, creativity, and development.</p>
			</div>
		</a>
		<a href="https://techsolidaritylab.com/" target="_blank">
			<div class="box-styled">
				<h3>Tech Solidarity Lab</h3>
				<p>My work investigated the social, political, and material conditions driving the deployment of AI and automation technologies within the public transit sector, with a focus on how such decisions affect frontline staff.</p>
			</div>
		</a>
		<a href="https://femlab.co/" target="_blank">
			<div class="box-styled">
				<h3>FemLab</h3>
				<p>FemLab is a researcher activist cooperative that seeks to envision and enact how digital platforms may be optimized to enhance self-actualization, representation, and collectivization in a changing and increasingly precarious market and society.</p>
			</div>
		</a>
		<div class="box-styled">
			<h3>Doctoral Research</h3>
			<p>PhD thesis looks at web development cultures from a Feminist Science &amp; Technology Studies perspective; through historical discourse, in-depth interviews with engineers, managers, designers, and archival &amp; software documentation.</p>
		</div>
	</div>
	</br></br>
	<h2>Peer-reviewed publications</h2>
	<ul>
		<li>
        <p>(<strong>Accepted for Special Issue</strong>) Mehta, C., Fox, S. E., & Vaghela, P. (2025). Solving for "Bad Workers": How Socio-Technical Imaginaries of Caste, Labor, and Datafication Normalize Unjust Tracking of Sanitation Workers. <em>Computational Culture.</em></p>
    </li>
    <li>
        <p>Akridge, H., Fan, B., Tang, A. X., Mehta, C., Martelaro, N., & Fox, S. E. (2024). "The bus is nothing without us": Making Visible the Labor of Bus Operators amid the Ongoing Push Towards Transit Automation. <em>Proceedings of the CHI Conference on Human Factors in Computing Systems,</em> 1–16. <a href="https://dl.acm.org/doi/10.1145/3613904.3642714" target="_blank">https://dl.acm.org/doi/10.1145/3613904.3642714</a></p>
    </li>
    <li>
        <p>Mehta, C., & Gupta, A. (2024). The Pundits of Technology: The Construction of Masculine Authority in Socio-technical Projects. <em>Subversions: A Journal of Emerging Research in Media & Cultural Studies,</em> 8. <a href="http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/" target="_blank">http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/</a></p>
    </li>
    <li>
        <p>Mehta, C., Raman, U., & Arora, P. (2024). A Feminist Human–Machine Communication Framework: Collectivizing by design for inclusive work futures. In A. Guzman, R. McEwen, & S. Jones (Eds.), <em>The SAGE Handbook of Human–Machine Communication.</em> SAGE Publications. <a href="https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648" target="_blank">https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648</a></p>
    </li>
    <li>
        <p>Mehta, C. (2023). What Lies in the Shadows of a Stakeholder Analysis? A Methodological Analysis to Contextualize the Lives of Women Workers in the Global South. In P. Arora, U. Raman, & R. König, <em>Feminist Futures of Work: Reimagining Labour in the Digital Economy.</em> Amsterdam University Press. <a href="https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1" target="_blank">https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1</a></p>
    </li>
	</ul>
	
	<h2>Grants</h2>

	<h3>Fellowships &amp; Research Grants</h3>
	<ul>
		<li>
			<p>Research Grant, <strong>MOSIP</strong>. Developing a Culture-Technology Framework for DPI Deployment. January 2026 – present.</p>
		</li>
		<li>
			<p><strong>Fulbright-Nehru Doctoral Fellowship</strong>, United States-India Educational Fund, US Department of State. January 2023 – September 2023.</p>
		</li>
		<li>
			<p><strong>Junior &amp; Senior Research Fellowship</strong>, University Grants Commission of India. August 2019 – July 2024.</p>
		</li>
	</ul>

	<h3>Travel Grants</h3>
	<ul>
		<li>
			<p>Association of Internet Researchers Annual Conference, Sheffield, UK. 29 October – 3 November 2024.</p>
		</li>
		<li>
			<p>International Communication Association Annual Conference: One World, One Network?, Paris, France. 26–30 May 2022.</p>
		</li>
		<li>
			<p>Imagine a Feminist Internet: Research, Practice, and Policy in South Asia Conference, Negombo, Sri Lanka. 21–23 February 2019.</p>
		</li>
	</ul>


	<h2>Presentations</h2>
<ul>

  <li>
    <p>Mehta, C. (2026, October). <em>Rock as Solid-Fluid: Exploring Urbanities Through Rocks in Hyderabad, India.</em> European Association for the Study of Science and Technology, Krakow, Poland. <em>(forthcoming)</em></p>
  </li>

  <li>
    <p>Kapou, E., &amp; Mehta, C. (2026, October). <em>Constructing the Citizen-Resident: Analysing the Infrastructuring of the Togolese e-ID.</em> European Association for the Study of Science and Technology, Krakow, Poland. <em>(forthcoming)</em></p>
  </li>

  <li>
    <p>Kapou, E., &amp; Mehta, C. (2026, October). <em>Constructing Identity: Analyzing Legal and Policy Discourse of the Togolese e-ID.</em> Society for Social Studies of Science. <em>(forthcoming)</em></p>
  </li>

  <li>
    <p>Kapou, E., &amp; Mehta, C. (2026, March 5). <em>Beaches Brew: Entanglements of Coastal Economies and Urban Life in Lomé, Togo.</em> An International Conference (Hybrid) on Urban/Media Infrastructures.</p>
  </li>

  <li>
    <p>Kaur, K., Mehta, C., &amp; Prakash, A. (2026, February 15). <em>In and Beyond the Newsroom: How Journalism and Fact-Checking Practices Stabilise Facts in India.</em> Making and Unmaking Facts Conference 2026.</p>
  </li>

  <li>
    <p>Mehta, C. (2024). <em>Solving for "Bad Workers": How Imaginaries Normalize Surveillance of Workers.</em> Panel: "Constructing the Digital: Working from the Global South," Association of Internet Researchers Annual Conference, Sheffield, UK, 29 October – 3 November 2024.</p>
  </li>

  <li>
    <p>Mehta, C. (2022). <em>"Collectives."</em> Panel: "Interfacing With Informality: A Decolonial Feminist Labour Lexicon," International Communication Association Annual Conference: One World, One Network?, Paris, France, 26–30 May 2022.</p>
  </li>

  <li>
    <p>Mehta, C. (2021, October 7). <em>Web Standards and Protocols: Identifying Transnational Actors &amp; Networks.</em> Society for Social Studies of Science (4S) Annual Meeting 2021.</p>
  </li>

  <li>
    <p>Mehta, C. (2019, February 21–23). <em>Hardcore Habit: Lessons in Participatory Design from Women Watching Porn Online.</em> Imagine a Feminist Internet: Research, Practice, and Policy in South Asia Conference, Negombo, Sri Lanka.</p>
  </li>

  <li>
    <p>Mehta, C. (2018, November 30 – December 1). <em>The Pundits of Technology: The Construction of Masculine Authority in Socio-technical Projects in India.</em> Does the Nation want to know?: The Politics of Post-truth. Frames of Reference, National Students' Seminar, School of Media and Cultural Studies, TISS, Mumbai.</p>
  </li>

</ul>

<h2>Reports</h2>
<ul>

  <li>
    <p>Kasturi, S., Mehta, C., &amp; Raman, U. (2025). <em>RIGHTS.AI: Children's experiences of generative artificial intelligence in India</em> [Report]. Digital Futures for Children centre, 5Rights Foundation. <a href="https://researchonline.lse.ac.uk/id/eprint/129517/">Link</a>.</p>
  </li>

  <li>
    <p>Mehta, C., Raman, U., &amp; Arora, P. (2023). <em>Digitalisation and Transformations of Women's Labour in Sanitation Work</em> (Empowerment or Exploitation? Global Perspectives on Women's Work in the Platform Economy) [Edition 5]. Just Jobs Network. <a href="https://www.academia.edu/102703422/Digitalisation_and_Transformation_of_Womens_Labour_in_Sanitation_Work">Link</a>.</p>
  </li>

  <li>
    <p>Mehta, C., Bansal, P., &amp; Koenig, R. (2021). <em>Connecting the Informal: Stakeholder mapping of women's informal work in India and Bangladesh.</em> FemLabCo. <a href="https://femlab.co/wp-content/uploads/2022/10/connecting-the-informal-stakeholder-mapping_1.2.pdf">Link</a>.</p>
  </li>

</ul>
</div>
