<div class="homepage">
	<h1 class="research-title">Research</h1>
	<div class="box-wrapper">
		<a href="https://www.digital-futures-for-children.net/RightsAI" target="_blank">
			<div class="box-styled">
				<h3>Digital Futures for Children</h3>
				<p>This project explores children's interactions with GenAI, focusing on their expectations, fears, hopes, and imaginations while assessing the impact on their rights, creativity, and development.</p>
			</div>
		</a>
		<a href="https://techsolidaritylab.com/" target="_blank">
			<div class="box-styled">
				<h3>Tech Solidarity Lab</h3>
				<p>My work investigated the social, political, and material conditions driving the deployment of AI and automation technologies within the public transit sector, with a focus on how such decisions affect frontline staff.</p>
			</div>
		</a>
		<a href="https://femlab.co/" target="_blank">
			<div class="box-styled">
				<h3>FemLab</h3>
				<p>FemLab is a researcher activist cooperative that seeks to envision and enact how digital platforms may be optimized to enhance self-actualization, representation, and collectivization in a changing and increasingly precarious market and society.</p>
			</div>
		</a>
		<div class="box-styled">
			<h3>Doctoral Research</h3>
			<p>PhD thesis looks at web development cultures from a Feminist Science &amp; Technology Studies perspective; through historical discourse, in-depth interviews with engineers, managers, designers, and archival &amp; software documentation.</p>
		</div>
	</div>
	</br></br>
	<h2>Peer-reviewed publications</h2>
	<ul>
		<li>
        <p>(<strong>Accepted for Special Issue</strong>) Mehta, C., Fox, S. E., & Vaghela, P. (2025). Solving for "Bad Workers": How Socio-Technical Imaginaries of Caste, Labor, and Datafication Normalize Unjust Tracking of Sanitation Workers. <em>Computational Culture.</em></p>
    </li>
    <li>
        <p>Akridge, H., Fan, B., Tang, A. X., Mehta, C., Martelaro, N., & Fox, S. E. (2024). "The bus is nothing without us": Making Visible the Labor of Bus Operators amid the Ongoing Push Towards Transit Automation. <em>Proceedings of the CHI Conference on Human Factors in Computing Systems,</em> 1–16. <a href="https://dl.acm.org/doi/10.1145/3613904.3642714" target="_blank">https://dl.acm.org/doi/10.1145/3613904.3642714</a></p>
    </li>
    <li>
        <p>Mehta, C., & Gupta, A. (2024). The Pundits of Technology: The Construction of Masculine Authority in Socio-technical Projects. <em>Subversions: A Journal of Emerging Research in Media & Cultural Studies,</em> 8. <a href="http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/" target="_blank">http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/</a></p>
    </li>
    <li>
        <p>Mehta, C., Raman, U., & Arora, P. (2024). A Feminist Human–Machine Communication Framework: Collectivizing by design for inclusive work futures. In A. Guzman, R. McEwen, & S. Jones (Eds.), <em>The SAGE Handbook of Human–Machine Communication.</em> SAGE Publications. <a href="https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648" target="_blank">https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648</a></p>
    </li>
    <li>
        <p>Mehta, C. (2023). What Lies in the Shadows of a Stakeholder Analysis? A Methodological Analysis to Contextualize the Lives of Women Workers in the Global South. In P. Arora, U. Raman, & R. König, <em>Feminist Futures of Work: Reimagining Labour in the Digital Economy.</em> Amsterdam University Press. <a href="https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1" target="_blank">https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1</a></p>
    </li>
	</ul>
</div>
