<div class="writing-wrapper">
	<h2>Peer-reviewed publications</h2>
	<ul>
		<li>
			<p>Mehta, C., & Gupta, A. (2024). The Pundits of Technology: The Construction of Masculine Authority in Socio-technical Projects. Subversions: A Journal of Emerging Research in Media & Cultural Studies, 8.<a href="http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/" target="_blank">http://subversions.tiss.edu/vol-8/anushree-gupta-and-chinar-mehta/</a></p>
		</li>
		<li>
			<p>Mehta, C., Raman, U., & Arora, P. (2024). A feminist Human–Machine Communication Framework: Collectivizing by design for inclusive work futures. In A. Guzman, R. McEwen, & S. Jones (Eds.), The SAGE Handbook of Human–Machine Communication. SAGE Publications.<a href="https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648" target="_blank">https://us.sagepub.com/en-us/nam/the-sage-handbook-of-human%E2%80%93machine-communication/book273648</a></p>
		</li>
		<li>
			<p>Mehta, C. (2023). What Lies in the Shadows of a Stakeholder Analysis? A Methodological Analysis to Contextualize the Lives of Women Workers in the Global South. In P. Arora, U. Raman, & R. König, Feminist Futures of Work: Reimagining Labour in the Digital Economy. Amsterdam University Press.<a href="https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1" target="_blank">https://aup.figshare.com/articles/preprint/Feminist_Futures_of_Work_Reimagining_Labour_in_the_Digital_Economy/22147289/1</a></p>
		</li>
	</ul>
	<h2>Popular writing</h2>
	<ul>
		<li>
			<p>
				<a href="https://femlab.co/2021/05/21/what-does-the-abandoned-public-toilet-tell-us/" target="_blank">What does the abandoned public toilet tell us?</a> May 21, 2021. FemLab.Co. 
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://femlab.co/2020/09/25/unionized-by-phone-%e2%94%80-circumventing-the-male-gatekeepers/" target="_blank">Unionized by phone ─ circumventing the male gatekeepers.</a> September 25, 2020. FemLab.Co. 
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://femlab.co/2020/06/12/design-for-one-centering-the-inadequacy-of-technology/" target="_blank">Design for one: Centering the inadequacy of technology.</a> June 12, 2020. FemLab.Co. 
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://medium.com/rawblog/risk-and-gendered-surveillance-redefining-the-good-woman-253ec0a1f0eb" target="_blank">Risk and Gendered Surveillance: Redefining the ‘Good’ Woman</a> Jan 11, 2019. Researchers@Work. Center for Internet and Society. 
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://gendermediacultureblog.wordpress.com/2018/12/29/the-gendered-construction-of-media-technologies/" target="_blank">The Gendered Construction of Media Technologies</a> Dec 29, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS.  
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://gendermediacultureblog.wordpress.com/2018/12/31/chinar-mehta-sexual-deviancy-in-the-digital/" target="_blank">Sexual Deviancy in the Digital</a> Dec 31, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS. 
			</p>
		</li>
		
		<li>
			<p>
				<a href="https://gendermediacultureblog.wordpress.com/2018/12/29/a-girl-walks-alone-at-night-but-whos-watching/" target="_blank">A girl walks alone at night… but who’s watching?</a> Dec 31, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS.
			</p>
		</li>
	</ul>
</div>