<ul>
	<li>
		<p>
			<a href="https://femlab.co/2021/05/21/what-does-the-abandoned-public-toilet-tell-us/" target="_blank">What does the abandoned public toilet tell us?</a> May 21, 2021. FemLab.Co. 
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://femlab.co/2020/09/25/unionized-by-phone-%e2%94%80-circumventing-the-male-gatekeepers/" target="_blank">Unionized by phone ─ circumventing the male gatekeepers.</a> September 25, 2020. FemLab.Co. 
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://femlab.co/2020/06/12/design-for-one-centering-the-inadequacy-of-technology/" target="_blank">Design for one: Centering the inadequacy of technology.</a> June 12, 2020. FemLab.Co. 
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://medium.com/rawblog/risk-and-gendered-surveillance-redefining-the-good-woman-253ec0a1f0eb" target="_blank">Risk and Gendered Surveillance: Redefining the ‘Good’ Woman</a> Jan 11, 2019. Researchers@Work. Center for Internet and Society. 
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://gendermediacultureblog.wordpress.com/2018/12/29/the-gendered-construction-of-media-technologies/" target="_blank">The Gendered Construction of Media Technologies</a> Dec 29, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS.  
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://gendermediacultureblog.wordpress.com/2018/12/31/chinar-mehta-sexual-deviancy-in-the-digital/" target="_blank">Sexual Deviancy in the Digital</a> Dec 31, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS. 
		</p>
	</li>
	
	<li>
		<p>
			<a href="https://gendermediacultureblog.wordpress.com/2018/12/29/a-girl-walks-alone-at-night-but-whos-watching/" target="_blank">A girl walks alone at night… but who’s watching?</a> Dec 31, 2018. Gender Media Culture. School of Media & Cultural Studies, TISS.
		</p>
	</li>
	
</ul>