.logo-wrapper {
	margin: 0 2rem 2rem 2rem;
	width: 13rem;
	height: auto;
	overflow: hidden;
}

.column {
	float: left;
}

.description {
	width: 20rem;
	padding: 2rem 0 0 1rem;
}

.social-media {
	display: flex;
	justify-content: center;
	width: 100%;
}