.logo-wrapper {
	margin: 0 2rem 1rem 0;
	width: 13rem;
	height: auto;
	overflow: hidden;
}

.logo {
	margin-bottom: 2rem;
}

.column {
	float: left;
}

.description {
	display: table;
}

.social-media {
	display: flex;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.logo-wrapper {
		width: auto;
	}
}