---
---

@import "{{ site.theme }}";

$hover-font: #F05365;
$hover-background: #420022;
$grey-background: #610032;
$title-font-color: #DE3C4B;
$font-color: #F194B4;
$link-color: #6590C9;

$linkedin: #007bb5;
$facebook: #3B5998;
$twitter: #55ACEE;
$instagram: #d62976;

@font-face {
	font-family: 'Oswald-Regular';
	src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('/assets/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow-Regular';
	src: url('/assets/fonts/Barlow-Regular.ttf') format('truetype');
}

body {
	margin: 0 15rem 0 15rem;
	background: $grey-background !important;
}

@media screen and (max-width: 1200px) {
  body {
	margin: 0 3rem 0 3rem;
	padding: 5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  body {
	margin: 0 3rem 0 3rem;
	padding: 5rem !important;
  }
}

@media screen and (max-width: 800px) {
  body {
	margin: 0 1rem 0 1rem;
	padding: 2rem !important;
  }
}

@media screen and (max-width: 600px) {
  body {
	margin: 0 1rem 0 1rem;
	padding: 2rem;
	
	.menu-item {
		float: left;
		padding: 0;
	}
	
	.social-media {
		a {
			padding: 0.5rem;
			border: solid 1px #F194B4;
			border-radius: 50%;
			font-size: 1rem;
			text-align: center;
			margin-right: 0.5rem;
		}
		
		.fa {
			width: 1.4rem;
		}
	}
  }
}

.menu {
	display: inherit;
	float: right;
}

.header {
	display: inline-block;
	width: 100%;
	margin-bottom: 2rem;
}

.titles {
	a {
		padding: 0 0.5rem 0 0.5rem;
		color: inherit;
	}
}

.name {
	float: left;
}

.menu-item {
	font-family: 'Oswald-Light';
	float: right;
	padding: 0.25rem 0.5rem 0 0.5rem;
}

h1, h2, h3 {
	font-family: 'Oswald-Regular';
	letter-spacing: 0.20rem;
	text-transform: uppercase;
	color: $title-font-color;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-family: 'Barlow-Regular';
	font-size: 1rem;
	color: $font-color; 
}

a {
	color: $link-color;
	&:hover {
		background: $hover-background;
		color: $hover-font;
		cursor: pointer;
		font-weight: inherit;
	}
}

.content-wrapper {
	margin: 0 0 20rem 0;
}

.footer {
	p {
		margin: 0;
		padding: 0;
	}
}

.social-media {
	margin-bottom: 1rem;
	
	.fa {
		width: 1.2rem;
	}
	
	a {
		color: $font-color; 
		padding: 1rem;
		border: solid 2px $font-color;
		border-radius: 50%;
		font-size: 1.2rem;
		text-align: center;
		margin-right: 1rem;
		&:hover {
			color: $hover-font;
			border-color: $hover-font;
		}
	}
	
	.academia-profile {
		border-radius: 2rem;
			font-size: inherit;
			display: inline-block;
	}
}

/*
.linkedin-icon {
	background: $linkedin;
	color: $grey-background;
}

.instagram-icon {
	background: $instagram;
	color: $grey-background;
}

.facebook-icon {
	background: $facebook;
	color: $grey-background;
}

.twitter-icon {
	background: $twitter;
	color: $grey-background;
}
*/

.credit-wrapper {
	clear: both;
}

.footer .credit {
	padding: 0;
}

.footer .credit {
	background: $grey-background;
	color: blue;
	font-weight: normal;
}

