---
---

@import "{{ site.theme }}";

$cute-pink: #FF2ECC;
$pastel-yellow: #F4F1BB;
$linkedin: #007bb5;
$facebook: #3B5998;
$twitter: #55ACEE;
$instagram: #d62976;

@font-face {
	font-family: 'Oswald-Regular';
	src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('/assets/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Barlow-Regular';
	src: url('/assets/fonts/Barlow-Regular.ttf') format('truetype');
}

body {
	margin: 0 10rem 0 10rem;
}

@media screen and (max-width: 1200px) {
  body {
	margin: 0 3rem 0 3rem;
	padding: 5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  body {
	margin: 0 3rem 0 3rem;
	padding: 5rem !important;
  }
}

@media screen and (max-width: 800px) {
  body {
	margin: 0 1rem 0 1rem;
	padding: 2rem !important;
  }
}

@media screen and (max-width: 600px) {
  body {
	margin: 0 1rem 0 1rem;
	padding: 2rem;
	
	.menu-item {
		float: left;
		padding: 0;
	}
  
	.sm-icon {
		padding: 0.5rem;
		border-width: 2px;
	}
  }
}

.menu {
	display: inherit;
	float: right;
}

.header {
	display: inline-block;
	width: 100%;
	margin-bottom: 2rem;
}

.titles {
	a {
		padding: 0 0.5rem 0 0.5rem;
		color: inherit;
	}
}

.name {
	float: left;
}

.menu-item {
	font-family: 'Oswald-Light';
	float: right;
	padding: 0.25rem 0.5rem 0 0.5rem;
}

h1, h2, h3 {
	font-family: 'Oswald-Regular';
	letter-spacing: 0.20rem;
	text-transform: uppercase;
	color: black;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-family: 'Barlow-Regular';
	font-size: 1rem;
}

a:hover {
	background: $pastel-yellow;
	color: $cute-pink;
	cursor: pointer;
	font-weight: inherit;
}

.content-wrapper {
	margin: 0 0 20rem 0;
}

.footer {
	.sm-icon {
		padding: 0.5rem;
	}
	
	p {
		margin: 0;
		padding: 0;
	}
}

.social-media {
	margin-bottom: 1rem;
	a:hover {
		font-weight: normal;
	}
}

.sm-icon {
	float: left;
	font-size: 20px;
	padding: 1rem;
	width: 2rem;
	margin: 0 1rem 1rem 0;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	color: white; 
	cursor: pointer;
	&:hover {
		border-color: $cute-pink;
		background: $pastel-yellow;
		a {
			color: $cute-pink;
		}
	}
}


.fa {
	color: black; 
}

/*
.linkedin-icon {
	background: $linkedin;
	color: white;
}

.instagram-icon {
	background: $instagram;
	color: white;
}

.facebook-icon {
	background: $facebook;
	color: white;
}

.twitter-icon {
	background: $twitter;
	color: white;
}
*/

.credit-wrapper {
	clear: both;
}

.footer .credit {
	padding: 0;
}

.footer .credit {
	background: white;
	color: blue;
	font-weight: normal;
}

