<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{%- seo title=false -%}
		<title>
			{{ site.title }}
		</title>
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		{% include head-custom.html %}
	</head>
	
	<body>
		<div class="wrapper">
			<div class="header">
				<h1 class="name titles"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
				<h2 class="titles menu-item menu-item-about"><a href="/about">About</a>
				<!--<h2 class="titles menu-item menu-item-media"><a href-"/media">Media</a>-->
			</div>
      
			<div class="description-wrapper">
				<div class="column logo-wrapper">
					<img class="logo" src="{{site.logo | relative_url}}" />
				</div>
				<p>{{ site.description | default: site.github.project_tagline }}</p>
				<p>{{ site.description1 | default: site.github.project_tagline }}</p>
				<p>{{ site.description2 | default: site.github.project_tagline }}</p>
				<p>{{ site.description3 | default: site.github.project_tagline }}</p>
			</div>
		</div>
		<div class="flaticon-credit"> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
</html>
