<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TQQDERWN9T"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-TQQDERWN9T');
		</script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{%- seo title=false -%}
		<title>
			{{ site.title }} {% if page.title %} | {{ page.title }} {% endif %}
		</title>
		
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		
		{% if page.style %}
			<link rel="stylesheet" href="{{ page.style }}">
		{% endif %}
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		{% include head-custom.html %}
	</head>
	
	<body>
			<div class="header">
				<h1 class="name titles"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
				<!--<h2 class="titles menu-item menu-item-about"><a href="/about">About</a>-->
				<div class="menu">
					<h2 class="titles menu-item menu-item-media"><a href="/cv">CV</a></h2>
					<h2 class="titles menu-item menu-item-media"><a href="/writing">Writing</a></h2>
					<h2 class="titles menu-item menu-item-media"><a href="/media">Media</a></h2>
				</div>
			</div>
			
			<div class="content-wrapper">
				{% if page.html %}
					{% include {{ page.html }} %}
				{% endif %}
			</div>
			
			<div class="footer">
				{% if page.title %}
				<div class="social-media">
					<a href="https://www.linkedin.com/in/chinar-mehta/" target="_blank" class="fa fa-linkedin"></a>
			<a href="https://twitter.com/_chinar_" target="_blank" class="fa fa-twitter"></a>
			<a href="https://www.facebook.com/chinar.mehta/" target="_blank" class="fa fa-facebook"></a>
			<a href="https://www.instagram.com/china.mina.dika/" target="_blank" class="fa fa-instagram"></a>
			<a href="https://uohyd.academia.edu/ChinarMehta" target="_blank" class="academia-profile">Academia.edu</a>
				</div>
				{%endif%}
				<div class="credit-wrapper">
					<p><small>Hosted on GitHub Pages &mdash; Theme by <a class="credit" href="https://github.com/orderedlist">orderedlist</a></small></p>
					<!--<p><small>Icons made by <a class="credit" href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a class="credit" href="https://www.flaticon.com/" title="Flaticon">Flaticon</a></small></p>-->
				</div>
			</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
</html>
